<template >
    <div>
        <div class="inputDashboard">
        <input class="input__percent" v-model="january" type="number" placeholder="% посещений за Январь">
        <input class="input__percent" v-model="february" type="number" placeholder="% посещений за Февраль">
        <input class="input__percent" v-model="mart" type="number" placeholder="% посещений за Март">
        <input class="input__percent" v-model="april" type="number" placeholder="% посещений за Апрель">                        
        </div>
        <button @click="dashInfo">Построить график</button>
    </div>
</template>
<script>
export default {
    data(){
        return{
            january:'',
            february:'',
            mart:'',
            april:'',
            result:{
                january:'',
                february:'',
                mart:'',
                april:'',
                check: false
            }
        }
    },
    methods:{
        dashInfo(){
            this.result.check = true,
            this.result.january = this.january * 4.8,
            this.result.february = this.february * 4.8,
            this.result.mart = this.mart * 4.8,
            this.result.april = this.april * 4.8
            this.$emit('dashInfo', this.result)
        }
    }
}
</script>

<style scoped>

.inputDashboard{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 1000px;        
    position: absolute;
    top: 85px;    
}
.input__percent{
    margin-left: 35px;
    padding-left: 15px;    
    width: 450px;
    height: 25px;                   
    }

button{
    cursor: pointer;
    position: absolute;
    top: 660px;
    left: 600px;
    width: 300px;
    height: 40px;
    
}

.diagram{
    position: absolute;
    left: 260px;
    top: 103px;
    width: 996px;
    height: 480px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

</style>