<script>
import DiagrammDescription from "./components/DiagrammDescription.vue";

export default {
  data() {
    return {
      res: '',
      dashColor: "goldenrod",
      fontSize: 30,
    };
  },
  components: { DiagrammDescription },
  methods: {
    dashboard(data) {
      if (data.january > 480) {
        data.january = 482;
      }
      if (data.february > 480) {
        data.february = 482;
      }
      if (data.mart > 480) {
        data.mart = 482;
      }
      if (data.april > 480) {
        data.april = 482;
      }
      this.res = data;
    },
  },
};
</script>

<template>
  <div>
  <h1 class="heading">Посещения поликлиники</h1>
    <div class="graph">
      <div class="graph__month">
        <DiagrammDescription @dashInfo="dashboard" />

        <div class="diagram">
          <div
            v-if="res.check"
            v-bind:style="{
              color: dashColor,
              width: this.res.january + 'px',
              marginTop: 70 + 'px',
              marginLeft: 200 + 'px',
              height: 60 + 'px',
              background: 'green',              
            }"
          ></div>
          <div
            v-if="res.check"
            v-bind:style="{
              color: dashColor,
              width: this.res.february + 'px',
              marginTop: 140 + 'px',
              marginLeft: 70 + 'px',
              height: 60 + 'px',
              background: 'red',
            }"
          ></div>
          <div
            v-if="res.check"
            v-bind:style="{
              color: dashColor,
              width: this.res.february + 'px',
              marginTop: 70 + 'px',
              marginLeft: 70 + 'px',
              height: 60 + 'px',
              background: 'blue',
            }"
          ></div>
          <div
            v-if="res.check"
            v-bind:style="{
              color: dashColor,
              width: this.res.february + 'px',
              marginTop: 70 + 'px',
              marginLeft: 70 + 'px',
              height: 60 + 'px',
              background: 'yellow',
            }"
          ></div>
        </div>

        <div><h2>January</h2></div>
        <div><h2>February</h2></div>
        <div><h2>March</h2></div>
        <div><h2>April</h2></div>        
      </div>
    </div>

    <div v-if="res != ''" class="resultDiv">
      <p>Процент посещений за Январь: {{ Math.round( res.january / 4.8 )}}</p>
      <p>Процент посещений за Февраль: {{Math.round(res.february / 4.8) }}</p>
      <p>Процент посещений за Март: {{Math.round(res.mart / 4.8) }}</p>
      <p>Процент посещений за Апрель: {{Math.round(res.april / 4.8) }}</p>
    </div>
  </div>
</template>

<style scoped>
.heading {
margin-left: 40%;
}

.graph {
  margin: 0 auto;
  margin-top: 40px;
  width: 1000px;
  height: 600px;  
  border-top: none;
  border-right: none;    
}

.graph__month {
  display: flex;
  flex-direction: row;
  gap: 230px;
}

.graph__month h2 {
  margin-left: -380px;
  text-align: center;
  font-size: 24px;
  color: black;
  font-family: "Roboto Slab";
}

button {
  cursor: pointer;
  position: absolute;
  top: 660px;
  left: 600px;
  width: 300px;
  height: 40px;
}

.diagram {
  position: absolute;
  left: 318px;
  top: 103px;
  width: 970px;
  height: 480px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.resultDiv{
  position: absolute;
  top: 130px;
  left: 230px;
  width: 250px;
  text-align: center;
  border: 2px solid red;
  font-size: 17px;
}

</style>
